<h1>Add New Location</h1>

<%= form_for @location, url: locations_path do |f| %>

<% if @location.errors.any? %>
  <p style="color:red;">Not a valid address</p>
<% end %>

  <p>Address</p>
  <p><%= f.text_field :address%></p>
  <p>Latitude</p>
  <p><%= f.text_field :latitude%></p>
  <p>Longitude</p>
  <p><%= f.text_field :longitude%></p>
  <p><%= f.submit "ADD"%></p>
<% end %>
